/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.App-header {
  background-color: #2b3035;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.custom-dropdown-item {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.holder-home{
  overflow: hidden;

}
.btn-hold-home{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.articles-hold-title-home{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.hold-login-home{
  display: flex;
  gap: 2vw;
}